.device LFE5U-12F

.comment Part: LFE5U-12F-6CABGA381
.sysconfig COMPRESS_CONFIG ON
.sysconfig CONFIG_IOVOLTAGE 3.3
.sysconfig MCCLK_FREQ 62

.tile CIB_R11C1:CIB_LR
arc: JA0 E1_H02W0701
enum: CIB.JB0MUX 0

.tile CIB_R11C71:CIB_LR
arc: JA0 W1_H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R13C3:CIB_DSP
arc: N1_V02N0701 S1_V02N0701

.tile CIB_R13C69:CIB_DSP
arc: N1_V02N0501 S1_V02N0401

.tile CIB_R14C1:CIB_LR
arc: JA0 E1_H02W0701
enum: CIB.JB0MUX 0

.tile CIB_R1C11:CIB
arc: JA0 H02W0501
enum: CIB.JB0MUX 0

.tile CIB_R1C12:CIB
arc: W1_H02W0501 S1_V02N0501

.tile CIB_R1C15:CIB
arc: JA0 S1_V02N0501
enum: CIB.JB0MUX 0

.tile CIB_R1C18:CIB
arc: JA0 H02W0501
enum: CIB.JB0MUX 0

.tile CIB_R1C19:CIB
arc: W1_H02W0501 E1_H02W0501

.tile CIB_R1C21:CIB
arc: E1_H02E0501 S1_V02N0501
arc: W1_H02W0501 S1_V02N0501

.tile CIB_R1C22:CIB
arc: JA0 H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R1C24:CIB
arc: JA0 H02W0501
enum: CIB.JB0MUX 0

.tile CIB_R1C25:CIB
arc: W1_H02W0501 E1_H02W0501

.tile CIB_R1C27:CIB
arc: JA0 S1_V02N0501
arc: W1_H02W0501 S1_V02N0501
enum: CIB.JB0MUX 0

.tile CIB_R1C29:CIB
arc: JA0 H02W0501
enum: CIB.JB0MUX 0

.tile CIB_R1C30:CIB
arc: W1_H02W0501 S1_V02N0501

.tile CIB_R1C3:CIB
arc: E1_H02E0501 S1_V02N0501

.tile CIB_R1C42:CIB
arc: E1_H02E0301 S1_V02N0301
arc: H00L0100 S1_V02N0301
arc: JA0 H00L0100
enum: CIB.JB0MUX 0

.tile CIB_R1C44:CIB
arc: H00L0100 W1_H02E0301
arc: JA0 H00L0100
enum: CIB.JB0MUX 0

.tile CIB_R1C49:CIB
arc: H00L0100 E1_H02W0301
arc: JA0 H00L0100
enum: CIB.JB0MUX 0

.tile CIB_R1C4:CIB
arc: JA0 H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R1C51:CIB
arc: H00L0100 S1_V02N0301
arc: JA0 H00L0100
arc: W1_H02W0301 S1_V02N0301
enum: CIB.JB0MUX 0

.tile CIB_R1C58:CIB
arc: H00R0000 S1_V02N0401
arc: JA0 H00R0000
enum: CIB.JB0MUX 0

.tile CIB_R1C60:CIB
arc: H00L0100 S1_V02N0301
arc: JA0 H00L0100
enum: CIB.JB0MUX 0

.tile CIB_R20C1:CIB_LR
arc: H00L0000 V02N0001
arc: JA0 H00L0000
enum: CIB.JB0MUX 0

.tile CIB_R21C1:CIB_LR
arc: N1_V02N0001 E1_H02W0001

.tile CIB_R23C1:CIB_LR
arc: JA0 E1_H02W0501
enum: CIB.JB0MUX 0

.tile CIB_R25C3:CIB_EBR
arc: N1_V02N0501 S1_V02N0401

.tile CIB_R27C71:CIB_LR
arc: S1_V02S0501 W1_H02E0501

.tile CIB_R29C71:CIB_LR
arc: JA0 N1_V02S0501
enum: CIB.JB0MUX 0

.tile CIB_R2C1:CIB_LR
arc: JA0 E1_H02W0501
enum: CIB.JB0MUX 0

.tile CIB_R2C71:CIB_LR
arc: H00L0100 V02N0101
arc: JA0 H00L0100
enum: CIB.JB0MUX 0

.tile CIB_R30C71:CIB_LR
arc: S1_V02S0501 W1_H02E0501

.tile CIB_R32C71:CIB_LR
arc: JA0 N1_V02S0501
enum: CIB.JB0MUX 0

.tile CIB_R33C71:CIB_LR
arc: S1_V02S0501 W1_H02E0501

.tile CIB_R35C71:CIB_LR
arc: JA0 N1_V02S0501
enum: CIB.JB0MUX 0

.tile CIB_R3C71:CIB_LR
arc: N1_V02N0101 W1_H02E0101

.tile CIB_R45C71:CIB_LR
arc: S1_V02S0001 W1_H02E0001

.tile CIB_R47C71:CIB_LR
arc: H00L0000 N1_V02S0001
arc: JA0 H00L0000
enum: CIB.JB0MUX 0

.tile CIB_R49C3:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R49C42:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C43:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C44:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C45:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C46:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C47:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C48:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C49:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C50:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C51:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C52:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C53:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R49C69:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R49C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile CIB_R5C1:CIB_LR
arc: JA0 E1_H02W0501
enum: CIB.JB0MUX 0

.tile CIB_R5C71:CIB_LR
arc: H00R0000 W1_H02E0401
arc: JA0 H00R0000
enum: CIB.JB0MUX 0

.tile CIB_R8C71:CIB_LR
arc: H00L0100 W1_H02E0101
arc: JA0 H00L0100
enum: CIB.JB0MUX 0

.tile MIB_R0C11:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C12:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C15:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C16:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C18:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C19:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C22:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C23:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C24:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C25:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C27:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C28:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C29:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C30:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C3:BANKREF0
enum: BANK.VCCIO 3V3

.tile MIB_R0C42:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C43:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C44:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C45:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C49:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C4:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C50:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C51:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C52:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C58:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C59:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C5:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C60:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C61:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C69:BANKREF1
enum: BANK.VCCIO 3V3

.tile MIB_R11C0:PICL0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R11C72:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R12C0:PICL1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R12C72:PICR1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R13C31:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000

.tile MIB_R13C32:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000

.tile MIB_R13C3:DSP_SPINE_UL1
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile MIB_R14C0:PICL0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R15C0:PICL1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R1C0:BANKREF7A
enum: BANK.VCCIO 3V3

.tile MIB_R1C11:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C12:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C15:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C16:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C18:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C19:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C22:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C23:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C24:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C25:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C27:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C28:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C29:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C30:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C42:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C43:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C44:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C45:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C49:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C4:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C50:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C51:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C52:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C58:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C59:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C5:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C60:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C61:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C72:BANKREF2A
enum: BANK.VCCIO 3V3

.tile MIB_R20C0:PICL0_DQS2
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R21C0:PICL1_DQS3
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R23C0:PICL0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R24C0:PICL1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE NONE

.tile MIB_R29C72:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R2C0:PICL0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R2C72:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R30C72:PICR1_DQS0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R32C72:PICR0_DQS2
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R33C72:PICR1_DQS3
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R35C72:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R36C72:PICR1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R37C31:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000

.tile MIB_R37C32:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000

.tile MIB_R3C0:PICL1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R3C72:PICR1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R47C72:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R48C72:PICR1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R50C3:BANKREF8
enum: BANK.VCCIO 3V3

.tile MIB_R50C4:EFB0_PICB0
enum: SYSCONFIG.SLAVE_PARALLEL_PORT DISABLE
enum: SYSCONFIG.SLAVE_SPI_PORT DISABLE
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile MIB_R50C5:EFB1_PICB1
enum: SYSCONFIG.MASTER_SPI_PORT ENABLE

.tile MIB_R50C6:EFB2_PICB0
enum: SYSCONFIG.SLAVE_SPI_PORT DISABLE

.tile MIB_R50C71:BANKREF3
enum: BANK.VCCIO 3V3

.tile MIB_R5C0:PICL0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R5C72:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R6C0:PICL1_DQS0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R6C72:PICR1_DQS0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R8C72:PICR0_DQS2
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R9C72:PICR1_DQS3
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile R11C3:PLC2
arc: W1_H02W0701 S1_V02N0701

.tile R11C69:PLC2
arc: E1_H02E0501 S1_V02N0501

.tile R14C3:PLC2
arc: W1_H02W0701 V02N0701

.tile R15C12:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R15C15:PLC2
arc: N3_V06N0203 S3_V06N0203

.tile R15C21:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R15C27:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R15C30:PLC2
arc: N3_V06N0203 S3_V06N0203

.tile R15C33:PLC2
arc: E3_H06E0303 S3_V06N0303
arc: N3_V06N0303 S3_V06N0303

.tile R15C39:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R15C3:PLC2
arc: N1_V02N0701 S3_V06N0203
arc: N3_V06N0303 S3_V06N0203

.tile R15C45:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R15C51:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R15C57:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R15C63:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R15C69:PLC2
arc: N1_V02N0401 W3_H06E0203

.tile R21C12:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R21C15:PLC2
arc: N3_V06N0203 S3_V06N0203
arc: W3_H06W0003 E3_H06W0303

.tile R21C21:PLC2
arc: N3_V06N0203 S3_V06N0203
arc: W3_H06W0303 E3_H06W0203

.tile R21C27:PLC2
arc: N3_V06N0203 S3_V06N0203
arc: W3_H06W0203 E3_H06W0203

.tile R21C30:PLC2
arc: N3_V06N0203 S3_V06N0203

.tile R21C33:PLC2
arc: N3_V06N0303 S3_V06N0203
arc: W3_H06W0203 S3_V06N0203

.tile R21C3:PLC2
arc: N3_V06N0203 S3_V06N0203
arc: W1_H02W0001 E3_H06W0003

.tile R21C9:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R23C3:PLC2
arc: W1_H02W0501 S1_V02N0501

.tile R27C12:PLC2
arc: N3_V06N0203 H06W0203

.tile R27C15:PLC2
arc: N3_V06N0203 E3_H06W0203
arc: W3_H06W0203 E3_H06W0203

.tile R27C21:PLC2
arc: N3_V06N0203 E3_H06W0203
arc: W3_H06W0203 E3_H06W0203

.tile R27C27:PLC2
arc: N3_V06N0203 E3_H06W0203
arc: W3_H06W0203 E3_H06W0203

.tile R27C30:PLC2
arc: N3_V06N0203 H06W0203

.tile R27C33:PLC2
arc: E3_H06E0203 F4
arc: F4 F4_SLICE
arc: N3_V06N0203 F4
arc: W3_H06W0203 F4
word: SLICEC.K0.INIT 1111111111111111
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_0 _NONE_
enum: SLICEC.A0MUX 1
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1

.tile R27C39:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R27C3:PLC2
arc: N1_V02N0401 E3_H06W0203
arc: N3_V06N0203 E3_H06W0203

.tile R27C45:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R27C51:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R27C57:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R27C63:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R27C69:PLC2
arc: E1_H02E0501 W3_H06E0303
arc: S3_V06S0303 W3_H06E0303

.tile R27C9:PLC2
arc: W3_H06W0203 E3_H06W0203

.tile R2C3:PLC2
arc: W1_H02W0501 V02N0501

.tile R30C69:PLC2
arc: E1_H02E0501 V06S0303

.tile R33C69:PLC2
arc: E1_H02E0501 N3_V06S0303
arc: S3_V06S0003 N3_V06S0303

.tile R39C69:PLC2
arc: S3_V06S0003 N3_V06S0003

.tile R3C12:PLC2
arc: N1_V02N0501 S3_V06N0303

.tile R3C15:PLC2
arc: N1_V02N0501 S3_V06N0303

.tile R3C21:PLC2
arc: N1_V02N0501 S3_V06N0303

.tile R3C27:PLC2
arc: N1_V02N0501 S3_V06N0303

.tile R3C30:PLC2
arc: N1_V02N0501 S3_V06N0303

.tile R3C33:PLC2
arc: E3_H06E0003 S3_V06N0003

.tile R3C39:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R3C3:PLC2
arc: N1_V02N0501 S3_V06N0303

.tile R3C42:PLC2
arc: N1_V02N0301 H06E0003

.tile R3C45:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R3C51:PLC2
arc: N1_V02N0301 W3_H06E0003
arc: E3_H06E0003 W3_H06E0003

.tile R3C57:PLC2
arc: E1_H01E0001 W3_H06E0003
arc: E3_H06E0003 W3_H06E0003

.tile R3C58:PLC2
arc: N1_V02N0401 H01E0001

.tile R3C60:PLC2
arc: N1_V02N0301 H06E0003

.tile R3C63:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R3C69:PLC2
arc: E1_H02E0101 W3_H06E0103

.tile R45C69:PLC2
arc: E1_H02E0001 N3_V06S0003

.tile R5C3:PLC2
arc: W1_H02W0501 S1_V02N0501

.tile R5C69:PLC2
arc: E1_H02E0401 S1_V02N0401

.tile R7C3:PLC2
arc: N1_V02N0501 S1_V02N0501

.tile R7C69:PLC2
arc: N1_V02N0401 S1_V02N0101

.tile R8C69:PLC2
arc: E1_H02E0101 V02N0101

.tile R9C12:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R9C15:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R9C21:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R9C27:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R9C30:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R9C33:PLC2
arc: E3_H06E0303 S3_V06N0303
arc: N3_V06N0003 S3_V06N0303

.tile R9C39:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R9C3:PLC2
arc: N1_V02N0501 S3_V06N0303
arc: N3_V06N0303 S3_V06N0303

.tile R9C45:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R9C51:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R9C57:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R9C63:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R9C69:PLC2
arc: N1_V02N0101 W3_H06E0103

